name: Backend Docker CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: ./backend

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '9.0.x'

      - name: Restore
        run: dotnet restore

      - name: Build
        run: dotnet build --configuration Release --no-restore

      # - name: Test
      #   run: dotnet test --no-build --verbosity normal

      - name: Build Docker image
        run: |
          IMAGE_NAME=carbon-backend
          docker build . \
            -f Dockerfile \
            -t $IMAGE_NAME:latest \
            -t $IMAGE_NAME:${{ github.sha }}
